* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

body,
html {
    margin: 0;
    padding: 0;
    background: #25252B;
}

* {
    touch-action: manipulation;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    position: relative;
    color: white;
    letter-spacing: 2px;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#c {
    position: absolute;
    top: 0;
    max-width: 897px;
    margin: 0 auto;
    height: 100%;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

.loading {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #25252B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    -webkit-perspective: 120px;
    -moz-perspective: 120px;
    -ms-perspective: 120px;
    perspective: 120px;
    width: 100px;
    height: 100px;
}

.loader:before {
    content: "";
    position: absolute;
    left: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: #ff7070;
    animation: flip 1s infinite;
}

@keyframes flip {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(180deg) rotateX(180deg);
    }
}

.tutorial-link {
    position: absolute;
    display: block;
    z-index: 100;
    top: 2em;
    left: 2em;
    transform: translateX(-50%);
    font-weight: bold;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-27 20:5:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

.tracking-in-expand-fwd-top {
    z-index: 1;
    -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tracking-in-expand-fwd-top-2 {
    z-index: 1;
    -webkit-animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: .7s;
}

.tracking-in-expand-fwd-top-3 {
    z-index: 1;
    -webkit-animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1s;
}

@keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

.text {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 5.3em;
    text-shadow: 1px 5px 9px #362d2d;
    color: #d942c2;
    margin: 5px;
}

.emoji {
    font-size: 60px;
    font-size: 60px;
    text-shadow: 1px 5px 9px #362d2d;
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.3)
    }

    100% {
        transform: scale(1)
    }
}